python-pkcs11
unidecode
num2words
openupgradelib
xlrd
python-dateutil
dicttoxml
PyPDF2
pypdf
BrazilFiscalReport
roulier
xmltodict
BrazilFiscalReport 
zeep
cryptography==37.0.0
pyopenssl==22.0.0
endesive
py3o.formats
py3o.template
pdf2image
pyzbar
pytz
email-validator
phonenumbers
pycep_correios
pyyaml
satcomum
workalendar
xmldiff
sqlparse>=0.4.2
pandas
openpyxl
imgkit==1.1.0
pyfcm
coverage==5.5
flake8
python-Levenshtein-wheels==0.13.1
erpbrasil.assinatura>=1.7.0
erpbrasil.base>=2.3.0
erpbrasil.edoc.pdf
erpbrasil.edoc>=2.5.2
erpbrasil.transmissao
nfelib>=2.0.0
nfselib.ginfes
nfselib.paulistana
mtranslate
signxml
pysigep
iugu
lxml==4.6.3
python-stdnum
certifi
xmlsec
Jinja2
reportlab
urllib3
suds-community
suds-requests4
coveralls
pytest
pytest-cov
brazilfiscalreport
email-validator
erpbrasil.assinatura>=1.7.0
erpbrasil.base>=2.3.0
erpbrasil.edoc.pdf
erpbrasil.edoc>=2.5.2
erpbrasil.transmissao>=1.1.0
nfelib<=2.0.7
nfelib>=2.0.0
num2words
phonenumbers
pycep_correios
pyyaml
unidecode
workalendar